.input{
    background-color: 'red';
    padding: 5px, 10px;
    border: 1px solid red;
}

.layout{
    border: 1px solid red;
    padding: 10px;
    margin-bottom: 10px
}

.button{
    color: white;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
    width: 200px;
    border-radius: 5px

}